.body{
  background: #f4f7f9;
}
.nav{
  width: 300px;
  height: 1000px;
  background: white;
  max-width: 300px;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
}
header div{
  width: 90%;
  margin: 20px auto;
  max-width: 300px;
  background: #EDBB99;
}
header ul li {
  overflow: hidden;
}
header ul li a {
  color: #8399a4;
  padding: 20px;
  display: block;
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;;
  color: #515A5A !important;;
}
.li{
  list-style: none;
  width: 100%;
  padding: 20px 20px;
  display: block;
  text-decoration: none;
  margin-right: 10px;
}
.lupa{
  width: 100%;
  height: auto;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
